@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Red Hat Text", sans-serif;
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0 45;
}
